# local
.env
*.sqlite

# DuckDB
outputs/*.parquet
outputs/*.db
outputs/treasury.duckdb

# raw pulls
/data/raw/

# notebooks
.ipynb_checkpoints/

# virtualenvs
.venv/
scripts/dbsync/.venv/

# python cache
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db
